@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'variables';
@import 'reboot';

html,
body,
app-root,
app-worksheet-generator {
  height: 100%;
}

app-root,
app-worksheet-generator {
  display: block;
  position: relative;
}

.d-print-none {
  @media print {
    display: none !important;
  }
}

@media print {
  body {
    background-color: transparent;
  }
}
@media print {
  .math-problem{
    // display: none!important;
    // visibility: hidden;
    // background: red!important;

    display: table!important; 
    page-break-before: auto!important;
    page-break-inside: avoid!important;
    // page-break-inside: avoid!important;
    // display: block; page-break-before: auto;
  }
  .math-problem-container{
    display: table!important; 
    page-break-before: auto!important;
    page-break-inside: avoid!important;
  }
}